<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <img
      width="150"
      height="150"
      src="https://images.unsplash.com/photo-1708570735809-8a3bbc0ce0de?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <h1>₹4999</h1>
    <button id="rzp-button1">Buy Now</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  </body>
  <script>
    var orderId;
    $(document).ready(function () {
      var settings = {
        url: "/create/orderId",
        method: "POST",
        timeout: 0,
        headers: {
          "Content-Type": "application/json",
        },
        data: JSON.stringify({
        
        }),
      };

      //creates new orderId everytime
      $.ajax(settings).done(function (response) {
        orderId = response.id;
        console.log(orderId);
        $("button").show();
        var options = {
    "key": "rzp_test_OjrvQOSZyDk5Au", // Enter the Key ID generated from the Dashboard
    "amount": response.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Payment Pass",
    "description": "Paints",
    "image": "https://marketplace.canva.com/EAFauoQSZtY/1/0/1600w/canva-brown-mascot-lion-free-logo-qJptouniZ0A.jpg",
    "order_id": response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
                var settings1 = {
          "url": "/api/payment/verify",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({response}),
        }
        $.ajax(settings1).done(function(status){
          if(status==true){
            window.location.href='/success'
          }else{
            alert('Payment Failed')
          }
        })
    },
    
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
      });
    });
  </script>
</html>
